html,body{
   overflow-x: hidden;
   width:100%;
}

.header{
    background-color: rgb(49, 49, 56);
    height: 100px;
    margin: auto;
}

.bodyContent{
    /*background-image: linear-gradient("#F09819","#EDDE5D");*/
    background-image: url('../slike/pozadina1.jpg');
    margin: auto;
    background-position: center; 
}

.footer{
    text-align: center;
    margin:auto;
    width:101%;
    color:yellow;
    background-color: rgb(49, 49, 56);
}


/*div za oglas na pocetnim stranama*/
.oglas{
    width: 70%;
    margin: auto;
    text-align:left;
}

/*pretraga stranica*/
.ui-helper-center {
    text-align: right;
}

.tabela-pretraga{
    margin: 0 auto;
    width: 20%;
}

/*za galeriju slika na pocetnim*/
.gallery{
    margin:auto;   
}

.rowImages{
    float: left;
    width: 20%;   
    opacity: 0.9;
}

.active,
.rowImages:hover{
    opacity:1;
}


/*pocetna oglasavac*/
.pocetna_ogl{
    width:80%;
    margin: auto;
}

/*content za registraciju*/
.registerDiv{
    width:30%;
    margin:auto;
}

/*content za postavljanje oglasa*/
.adPlacingDiv{
    width:60%;
    margin:auto;
}

/*za logovanje i registraciju na header-u */
.logReg{
    color:gold;
    font-weight: bold;
    font-size:20px;
    text-align: right;
}

#logRegStyle a:link, a:hover,a:visited,a:active{
    color:gold;
    text-decoration: none;
}

.textLeft{
    text-align:left;
}

.textRight{
    text-align:right;
}

/*naslov na headerima*/
.smestiSeStyle{
    color:gold;
    font-style: oblique;
    font-size:70px;
    text-align: center;
    text-shadow: 2px 2px gray;
}

#mainTitle a:link,a:visited,a:hover,a:active{
    color:gold;
    text-decoration: none;
}

.recenzijeDiv{
    width:75%;
    margin:auto;
}

/*zvezdice za recenziju*/
.ratings1 .fa{
    font-size:18px;
    color:goldenrod;
    float:left;
}
.ratings2 .fa{
    font-size:18px;
    color:goldenrod;
    float:left;
}
.ratings3 .fa{
    font-size:18px;
    color:goldenrod;
    float:left;
}
.ratings4 .fa{
    font-size:18px;
    color:goldenrod;
    float:left;
}
.ratings5 .fa{
    font-size:18px;
    color:goldenrod;
    float:left;
}

.prikaz1 .fa{
    font-size:18px;
    color:goldenrod;
    float:left;
}
.prikaz2 .fa{
    font-size:18px;
    color:goldenrod;
    float:left;
}
.prikaz3 .fa{
    font-size:18px;
    color:goldenrod;
    float:left;
}
.prikaz4 .fa{
    font-size:18px;
    color:goldenrod;
    float:left;
}
.prikaz5 .fa{
    font-size:18px;
    color:goldenrod;
    float:left;
}

/*opcije u okviru oglasa(pregledaj,izbrisi)*/
#oglasOpcije{
    color:black;
    font-size: 20px;
    text-align: right;
}

#oglasOpcije a:link, a:hover, a:visited, a:active{
    color:black;
    font-size: 20px;
    text-align: right;
}

/* admin */
.zahteviDiv{
    margin:auto;
    width: 75%;
}

#tabelaLinkovi{
    color:whitesmoke;
    font-size:15px;
}

#tabelaLinkovi a:link, a:hover, a:visited, a:active{
    color:whitesmoke;
    font-size:15px;
    text-decoration: none;
}

/*za odobravanje na stranici sa zahtevima*/
#zahtevi{
   color:black;
   font-size: 20px; 
}

#zahtevi a:link, a:hover, a:visited, a:active{
    color:black;
    font-size: 20px;
    text-decoration: none;
}
/*Stranica smestaj*/
.informacijeSmestaj{
    margin:auto;
    width:75%;
}
/*glavni div za galeriju i prikaz slika*/
.galerijaSmestajDiv{
    margin: auto;
    background-image: linear-gradient(rgb(49, 49, 56), #293229);
}
/* div unutar koga su slike */
.galerijaSmestajSlike{
    width:75%;
    margin: auto;
}

.prikazSlikeSmestaj{
    margin: auto;
    text-align: center;
}

/* Hide the images by default */
.mySlides{
    margin: auto;
    display:none;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor{
    cursor: pointer;
}

/* broj slajda */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 12px 16px;
    position: absolute;
    top: 0;
}

/* 5 slika u galeriji*/
.column {
    float: left;
    width: 20%;
}
/* za slike u galeriji*/
.demo {
    opacity: 0.8;
}

.active,
.demo:hover {
    opacity: 1;
}
/*  Kraj stranice smestaj*/

.leftPadding{
    padding-left: 15px;
}

.blackTextTitleCenter{
    color:darkslategray;
    font-size: 30px;
    text-align: center;
}

.myTextCenter{
    color:gold;
    font-size: 20px;
    text-align: center;
}

.myTextLeft{
    color:gold;
    font-size:20px;
    text-align:left;
}

.myTextRight{
    color:gold;
    font-size:20px;
    font-weight: bold;
    text-align:right;
}

.imgAvatar{
    border-radius: 50%;
}

.blackTextCenter{
    color:rgb(37, 40, 44);
    font-size: 20px;
    text-align: center;
}

.blackTextLeft{
    color:rgb(37, 40, 44);
    font-size:20px;
    text-align:left;
}

.blackTextRight{
    color:rgb(37, 40, 44);
    font-size:20px;
    text-align:right;
}

.valign{
    vertical-align:middle;
}

.textCenter{
    text-align:center;
}


.textSize10{
    font-size:10;
}

.textSize15{
    font-size:15;
}
.textSize20{
    font-size:20;
}

.textSize25{
    font-size:25;
}

.textSize30{
    font-size:30;
}

.textSize40{
    font-size:40;
}



/* Three column layout */

.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    margin-top: 10px;
    float: left;
    width: 70%;
}


/* Place text to the right */

.right {
    text-align: right;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* The bar container */

.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}


/* Individual bars */

.bar-5 {
    width: 60%;
    height: 18px;
    background-color: #4CAF50;
}

.bar-4 {
    width: 30%;
    height: 18px;
    background-color: #2196F3;
}

.bar-3 {
    width: 10%;
    height: 18px;
    background-color: #00bcd4;
}

.bar-2 {
    width: 4%;
    height: 18px;
    background-color: #ff9800;
}

.bar-1 {
    width: 15%;
    height: 18px;
    background-color: #f44336;
}


/* Responsive layout - make the columns stack on top of each other instead of next to each other */

@media (max-width: 400px) {
    .side,
    .middle {
        width: 100%;
    }
    .right {
        display: none;
    }
}

