.myRow{
    background-color: 000fff;
    height: 100px;
}

.myTitle{
    color: gold;
    font-weight: bold;
    font-size: 30px;
}

.myLoginRegister{
    color:gold;
    font-weight: bold;
    font-size:20px;
    text-align: right;
}

.noPadding{
    padding: 0;
}

.leftPadding{
    padding-left: 25px;
}
#menu{
    color:gold;
    text-align:right;
    font-size 30px;
}

a:link{
    color:gold;
}

a:visited{
    color:gold;
}