.myRow{
    background-color: darkslateblue;
    height: 100px;
}

.myRowSmall{
    background-color: darkslateblue;
    height: 30px;
}

.smestiSeStyle{
    color:gold;
    font-style: oblique;
    font-size:70px;
    text-align: center;
    text-shadow: 2px 2px black;
}

.myRowGraySmall{
    background-color: gray;
    height: 30px;
}

.blackTextTitleCenter{
    color:darkslategray;
    font-size: 30px;
    text-align: center;
}
.myText{
    color: gold;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
}

.myTextCenter{
    color:gold;
    font-size: 20px;
    text-align: center;
}

.imgAvatar{
    border-radius: 50%;
}
.myTextLeft{
    color:gold;
    font-size:20px;
    text-align:left;
}

.myTextRight{
    color:gold;
    font-size:20px;
    text-align:right;
}

.blackTextCenter{
    color:darkslategray;
    font-size: 20px;
    text-align: center;
}

.blackTextLeft{
    color:darkslategray;
    font-size:20px;
    text-align:left;
}

.blackTextRight{
    color:darkslategray;
    font-size:20px;
    text-align:right;
}


.tableText{
    color:darkslategray;
    position:relative;
}

.tableBorder{
    border:3px;
    border-right: darkslategray;
}

.leftAlign{
    text-align:left;
}

.rightAlign{
    text-align: right;
}

.marginTop{
    margin-top: 15px;
}
.myTitle{
    color: gold;
    font-weight: bold;
    font-size: 30px;
}

.myLoginRegister{
    color:gold;
    font-weight: bold;
    font-size:20px;
    text-align: right;
}

.pictureCell{
    width:10%;
}

.textCentered{
    text-align: center;
}

.classTableDesc{
    text-align:left;
    /*background-color: blanchedalmond;*/
}

.noPadding{
    padding: 0;
}

.leftPadding25{
    padding-left: 25px;
}

.rightPadding21{
    padding-right: 21px;
}

.rightPadding41{
    padding-right: 41px;
}

.textRed{
    color:red;
    font-weight: bold;
}

.tableInit{
    border-color:green;
    border-width:5px;
}

a:link{
    color:gold;
}

a:visited{
    color:gold;
}

.rating
{
    display: inline-flex;
    transform:rotateY(180deg);
}

.rating label{
    cursor: pointer;
    display: inline-flex;
}

.rating input{
    display: none;
}

.rating label:before{
    content:'\f005';
    font-family: fontAwesome;
    color: darkslateblue;
    top:0;
    display: block;
}

.rating label:after{
    content:'\f005';
    font-family: fontAwesome;
    color: gold;
    display: block;
    opacity: 0;
    position:absolute;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.rating input:checked {
    color:gold;
}

.rating label:hover:after,
.rating input:checked ~ label:after{
    opacity: 1;
}


